# examples
# flask==2.3.2
# requests
#install with: pip install -r requirements.txt
requests
numpy
pandas
scipy
geopandas
shapely
pyproj
scikit-learn
xgboost
lightgbm
joblib
polars
pyarrow

matplotlib
seaborn